@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
  margin: 60px auto;
  width: 70%;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  margin-bottom: 80px;
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  text-align: center;
}

nav ul li, footer ul li {
  display: inline;
  margin: 0 25px 0 25px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.1em;
  color: #333;
}

.post-title {
  font-size: 1.4em;
  color: #999;
}
footer {
  border-top: 1px solid #d5d5d5;
  margin-top: 50px;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.2em;
}

ul.posts li {
  list-style: none;
}